<div class="container">
  <h1 class="teste">PEDRINHO</h1>
  <%= image_tag "logo.png" %>
  <h3>FOOTBALL GROUPS ADMINISTRATION</h3>
  <%= render 'form', user: @user, title: 'New User' %>
  <%= link_to 'Back', login_path %>
</div>
