<h1>PEDRINHO</h1>
<h3>Football groups administration</h3>
<%= link_to 'Groups', controller: 'groups' %>

<% if session[:user_id] != nil %>
    <%= link_to 'Log out', controller: 'sessions', action: 'destroy' %>
<% else %>
    <%= link_to 'Sign Up', controller: 'users', action: 'new' %>
    <%= link_to 'Log In', controller: 'sessions', action: 'new' %>
<% end %>