// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.login-box {
  background-color: $light;
  padding: 2.5rem;
  border-radius: 1rem;
  margin: 1rem;
  -webkit-box-shadow: 10px 10px 19px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 19px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 19px -12px rgba(0, 0, 0, 0.75);

  h1 {
    margin-top: 0;
  }
}

.input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: solid;
  border-color: $dark;
  border-width: 2px;
  margin: 0.8rem 0 0.8rem 0;
  outline: none;
}

.login-btn {
  padding: 0.5rem;
  background-color: $secondary;
  color: $light;
  border-radius: 0.3rem;
  border: none;
  margin-bottom: 1rem;
}

.alert-box {
  padding: 1rem;
  background-color: $danger;
  color: $light;
  border-radius: 1rem;
  -webkit-box-shadow: 10px 10px 19px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 19px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 19px -12px rgba(0, 0, 0, 0.75);

  p {
    margin: 0;
  }
}
